button {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.808);
  color: beige;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f94;
  border: none;
  margin: 10px;
}
button:active {
  transform: translate(1px, 1px);
  box-shadow: 2px 2px 15px #1f1f1f94;
}
h1 {
  text-align: center;
  margin: 0 30px;
  display: inline-block;
}

.card {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: rgb(255, 156, 176);
}
.clock {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  color: rgb(94, 0, 117);
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
}
